body {
    background-color: powderblue;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.myDiv {
    display: flex;
    border: 5px outset red;
    background-color: lightblue;
    flex-direction: row;
    justify-content: space-between;

}
.faq {
    font-family:'Courier New', Courier, monospace;
    max-width: 500px;
    padding: 15px;
}
#faq-heading {
    font-family:'Courier New', Courier, monospace;
}
#faq-paragraph {
    font-family:'Courier New', Courier, monospace;
    color: white;
    font-weight: bold;
}
.faq-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.menu {
    direction: ltr;
}
.top-menu {
    position: relative;
    overflow: hidden;
    background-color: aliceblue;
}
.top-menu a {
    float: left;
    color: #72296e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.top-menu-centered a {
    float: none;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.box {
    height: auto;
    padding: 50px;
    background-color: lavender;
}
.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.cell {
    flex: 1 1 200px;
    max-height: fit-content;
    padding: 15px;
    border: 1px solid black;
    background-color: pink;
}
.comic-box {
    height: auto;
    max-width: 100%;
    padding: 50px;
    background-color: lavender;
}
.comic-column {
    display: flex;
    flex-wrap: wrap;
}
.comic-cell {
    flex: 1 1 200px;
    height: fit-content;
    max-width: 100%;
    padding: 15px;
    border: 1px solid black;
    background-color: pink;
}
.comic-image {
    max-width: 100%;
}
#comic-title {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.comic-menu {
    float: right;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.c-nav {
    border: 1px solid #ccc;
    border-width: 1px 0;
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    gap: 10px;
}
.c-nav__item {

}
.c-nav__link {
    display: block;
}
